/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo por encima del header */
.logo-container {
    position: absolute;
    top: 1.5%; /* Ajusta la distancia desde la parte superior */
    left: 5%;
    transform: translateX(-50%); /* Centra el logo */
    z-index: 10; /* Asegura que el logo quede por encima del header */
}

.logo-container img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

/* Barra de navegación (header) */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .header-content {
    display: block;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

/* Barra de navegación */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: #ddd;
}

/* Contenido principal */
main {
    padding: 40px 0;
    background-color: #fff;
}

h2 {
    color: #333;
    font-size: 28px;
}

.content-category {
    display: none;
    margin-bottom: 30px;
}

.content-category p {
    font-size: 18px;
    line-height: 1.6;
}

/* Estilos para la visualización */
.show {
    display: block;
}

.imagDocs{
    text-align: center;
    max-width:80%;
    max-height:80%;
}
footer {
    text-align: center;
    padding: 10px;
    background: #0056b3;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}