html
{
    background-color: aqua;
align-items: center;


}
.Container {
    display: flex;
    flex-direction:row ;

}

/**/
.PulAdmin {
    background-color: brown;
    white-space: 0px;
    width:fit-content;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
}
.TextAdm {
    padding: 10px;
    align-items: center;
    text-decoration: dotted;
    margin: 0;
}
.TextAdm img{
    border-radius: 5px;
    text-align: center;
    height: 100px;
    width: 100px;
}


.PulEmp {
    background-color: brown;
    white-space: 0px;
    width:fit-content;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
}
.TextEmp {
    padding: 10px;
    align-items: center;
    text-decoration: dotted;
    margin: o;
}
.TextEmp img{
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
